.button{background-color: #2185d0;
    border: none;
     border-radius: 5px;
     padding: 10px;
     padding-left: 70px;
     padding-right: 70px;
     margin-top: 5px;
     margin-bottom: 15px;
    }
    body {
        background-color: #212529;
        padding-top: 20px;
        color: aliceblue;
      }
  
      .container {
        max-width: 2000px;
        margin: 0 auto;
      }
    .code{
      color: aliceblue;
    }  
    .input{
      color: aliceblue;
    }